* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.booking-form {
    padding: 50px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.booking-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-form label {
    font-size: 18px;
}

.booking-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.booking-form input[type="reset"]{
    color:black;
    background-color: gray;
    cursor:pointer;
}
.booking-form input[type="submit"] {
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
}
.booking-form select{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;

}
.booking-form textarea{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
